
/** ADD YOUR AWESOME CODES HERE **/
html {
    scroll-behavior: smooth;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .price-and-controls {
    display: flex;
    align-items: center;
  }
  
  .price {
    margin-right: 50px; /* Adjust spacing as needed */
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
  }
  
  .quantity-controls button {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    border-radius: 50%;
    border: 1px solid #000; /* Adjust color as needed */
    background-color: transparent;
    color: #000; /* Adjust color as needed */
    text-align: center;
    line-height: 28px; /* Adjust line height to vertically center '-' and '+' */
    cursor: pointer;
  }
  
  .quantity-controls input {
    width: 40px; /* Adjust size as needed */
    text-align: center;
    margin: 0 5px; /* Adjust spacing as needed */
  }
  